body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('/static/img/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.ribbon {
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ribbon img {
    max-height: 200%;
    max-width: 200%;
}

.black-box {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.title {
    font-size: 25px;
}

#avatarIcon {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    height: auto;
}

#error-message {
    color: #FF0000;
    font-size: 14px;
}

.register-container {
    background-color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
}

.register-container input[type="text"],
.register-container input[type="password"] {
    border: 1px solid #EDEDED;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 20px);
}

.register-container input[type="submit"] {
    background-color: #B6E2D3;
    border: 1px solid #B6E2D3;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 20px);
}

#login {
    color: #000000;
    font-size: 14px;
}
