<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>

  <div class="menu-icon" onclick="toggleMenu()">
    <img id="menuIcon" src="{{ url_for('static', filename='img/icon-hamburger-green.svg') }}" alt="Menu Icon">
  </div>

  <div class="menu-container" id="menuContainer">
    <div class="menu-content">
      <a href="/tips" class="menu-item">Tips</a>
      <a href="/ai" class="menu-item">AI</a>
      <a href="/experts" class="menu-item">Experts</a>
      <a href="/community" class="menu-item">Community</a>
    </div>
    <div class="logout-container">
      <a href="/logout" class="menu-item">Logout</a>
    </div>
  </div>

  <div class="icon-container">
    <a href="/tips" class="icon">
      <img src="{{ url_for('static', filename='img/tips.png') }}" alt="Tips Icon">
    </a>
    <a href="/ai" class="icon">
      <img src="{{ url_for('static', filename='img/ai.png') }}" alt="AI Icon">
    </a>
    <a href="/experts" class="icon">
      <img src="{{ url_for('static', filename='img/experts.png') }}" alt="Experts Icon">
    </a>
    <a href="/community" class="icon">
      <img src="{{ url_for('static', filename='img/community.png') }}" alt="Community Icon">
    </a>
  </div>

  <script>
    function toggleMenu() {
      var menuContainer = document.getElementById("menuContainer");
      menuContainer.style.width = (menuContainer.style.width === "250px") ? "0" : "250px";
    }
  </script>
</body>
</html>
