<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/experts.css') }}">
    <title>Expertos</title>
</head>
<body>
    <div class="person" id="maria">
        <img src="{{ url_for('static', filename='img/community/maria.jpeg') }}" alt="María Agusta Cedeño">
        <h2>María Agusta Cedeño</h2>
        <p>Número de teléfono: 555-1234</p>
    </div>

    <div class="personx" id="luis">
        <img src="{{ url_for('static', filename='img/community/luis.jpg') }}"alt="Luis Paéz">
        <h2>Luis Paéz</h2>
        <p>Número de teléfono: 555-5678</p>
    </div>

    <div class="person" id="jose">
        <img src="{{ url_for('static', filename='img/community/jose.jpeg') }}" alt="Jose Andrés Caballero">
        <h2>Jose Andrés Caballero</h2>
        <p>Número de teléfono: 555-9012</p>
    </div>

    <div class="personx" id="macarena">
        <img src="{{ url_for('static', filename='img/community/macarena.jpeg') }}" alt="Macarena Olivares">
        <h2>Macarena Olivares</h2>
        <p>Número de teléfono: 555-3456</p>
    </div>

    <div class="person" id="nicoles">
        <img src="{{ url_for('static', filename='img/community/nicole.jpeg') }}" alt="Nicole Garcia">
        <h2>Nicoles Garcia</h2>
        <p>Número de teléfono: 555-7890</p>
    </div>
</body>
</html>

