<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tips.css') }}">
    <title>Tips</title>
</head>
<body>
    <div class="container">
        <h1>Consejos para una Dieta Balanceada</h1>

        <div class="week-container">
            <div class="day-container">
                <h2>Lunes</h2>
                <p>Desayuno: Yogur con frutas y avena.</p>
                <p>Almuerzo: Ensalada de pollo a la parrilla.</p>
                <p>Cena: Pescado al horno con vegetales.</p>
            </div>

            <div class="day-container">
                <h2>Martes</h2>
                <p>Desayuno: Batido de espinacas y plátano.</p>
                <p>Almuerzo: Quinoa con verduras y pollo.</p>
                <p>Cena: Sopa de lentejas con ensalada.</p>
            </div>
        </div>

        <div class="week-container">
            <div class="day-container">
                <h2>Miércoles</h2>
                <p>Desayuno: Tostadas integrales con aguacate.</p>
                <p>Almuerzo: Arroz integral con brócoli y salmón.</p>
                <p>Cena: Ensalada de garbanzos con tomate y pepino.</p>
            </div>

            <div class="day-container">
                <h2>Jueves</h2>
                <p>Desayuno: Batido de bayas con yogur.</p>
                <p>Almuerzo: Pollo a la parrilla con batatas asadas.</p>
                <p>Cena: Pimientos rellenos de quinoa y verduras.</p>
            </div>
        </div>

        <div class="week-container">
            <div class="day-container">
                <h2>Viernes</h2>
                <p>Desayuno: Avena con plátano y almendras.</p>
                <p>Almuerzo: Ensalada de garbanzos con aguacate.</p>
                <p>Cena: Sopa de verduras con pollo.</p>
            </div>

            <div class="day-container">
                <h2>Sábado</h2>
                <p>Desayuno: Batido de mango y piña.</p>
                <p>Almuerzo: Quiche de espinacas con ensalada.</p>
                <p>Cena: Pescado a la parrilla con quinoa.</p>
            </div>
        </div>

        <div class="week-container">
            <div class="day-container">
                <h2>Domingo</h2>
                <p>Desayuno: Tortitas de avena con frutas.</p>
                <p>Almuerzo: Pasta integral con verduras y pollo.</p>
                <p>Cena: Ensalada de atún con garbanzos.</p>
            </div>
        </div>
    </div>
</body>
</html>

